body {
    font-family:Arial;
    text-align: center;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.titulo {
font-size:35px;
font-weight:bold;
}
.subtitulo {
    font-size: 25px;
    font-weight: bold;
}

.cuadrado {
    padding:10px;
    margin-top:15px;
border:solid 1px black;
width: 700px;
text-align:left;

}
.titleError {
    font-size: 20px;
    font-weight: bold;
}

.error {
    font-size: 20px;
    color:red;
}